.project{
    margin: 20px;
    width: 300px;
    box-shadow: 0 0 10px grey;
}

.cardBtn{
    margin: 5px;
    box-shadow: 0 0 10px grey;
}

.cardTitle{
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .project{
        margin-left: 0px;
        margin-right: 0px;
        width: 250px;
    }
  }