.mainDiv{
  margin: 10%;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px grey;
}


.aboutButton{
  margin: 10px;
  box-shadow: 0 0 10px grey;
}

#aboutDiv{
  width: 100%;
}

body{
  background-image: url("./dark-honeycomb.png");
  background-color: darkgray;
  
}

@media only screen and (max-width: 600px) {
  .mainDiv{
    margin-bottom: 100px;
  }
}
